{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    {% if closed %}
        <h4>Заказ оформлен</h4>
        <p>К нам на почту было выслана письмо с данными о заказе. Скоро с вами свяжутся</p>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название товара</th>
                <th>Цена за единицу</th>
                <th>Итоговая цена</th>
            </tr>
            </thead>
            <tbody>
            {% for good in goods %}
                <tr class="table-row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ good.good.title }}</td>
                    <td class="res_good_price">{{ good.good.price }} руб. х {{ good.count }}</td>
                    <td class="res_good_total_price">{% widthratio good.good.price 1 good.count %} руб.</td>
                </tr>
            {% endfor %}
            <tr>
                <td>#</td>
                <td>Итого:</td>
                <td></td>
                <td class="res_total_price">{{ total }} руб.</td>
            </tr>
            </tbody>

        </table>
    {% else %}
        <h4>Оформить заказ</h4>
        <br>
        <div class="row show-grid" id="catalog" data-url="/category/category-0">
            <div class="col-md-12 col-xs-12">
                <form method="post" action="#" id="make_order">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название товара</th>
                            <th>Цена за единицу</th>
                            <th>Количество</th>
                            <th>Итоговая цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for good in goods %}
                            <tr class="table-row">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ good.good.title }}</td>
                                <td class="res_good_price">{{ good.good.price }} руб.</td>
                                <td class="good_count">
                                    <input class="good_count col-md-3" type="number" value="{{ good.count }}"
                                           data-id="{{ good.id }}" name="count">
                                </td>
                                <td class="res_good_total_price">{% widthratio good.good.price 1 good.count %} руб.</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>#</td>
                            <td>Итого:</td>
                            <td></td>
                            <td></td>
                            <td class="res_total_price">{{ total }} руб.</td>
                        </tr>
                        </tbody>

                    </table>
                    <input class="btn btn-default" type="submit" value="Сделать заказ">

                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}