{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

    {% if created_user %}
        Регистрация прошла успешно <br>
        Для активации пользователя перейдите по адресу:<br>
        <a href = "{% url 'confirm' token=created_user.token %}">{% url 'confirm' token=created_user.token %}</a>

        <p> По идее тут должно быть информационное сообщение, а пароль должен отправляться на почту, но у меня не настроена отправка почты</p>
    {% else %}
        <div class="row">
        <form class="form-group col-md-6 col-md-offset-3 col-xs-12" role="form" action="{% url 'register' %}" method="post">
            <h4>Регистрация</h4>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.email }} {{ form.email.errors }}
            {{ form.password }}{{ form.password.errors }}

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрироваться">
        </form>
        </div>
    {% endif %}


{% endblock %}