{% load staticfiles client_tags %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Тестовый интернет магазин</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-tags.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
{% csrf_token %}
<input type="hidden" value="{% url 'add_to_cart' %}" id="add_to_cart_url">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Главная</a>
        </div>
        {% render_user_menu %}
    </div>
</nav>

<div class="container">
    {% block content %}
        Test
    {% endblock %}
</div>

<div id="footer" >
    <div class="container ">
        <p class="text-muted ">Тестовый интернет магазин. Разработчик: <a href="https://bitbucket.org/mO_Om/">Полковников
            Дмитрий</a></p>
    </div>
</div>
</body>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-tags.min.js' %}"></script>
<script src="{% static 'js/jquery.bootpag.min.js' %}"></script>
<script src="{% static 'js/catalog_script.js' %}"></script>
<script src="{% static 'js/clients_script.js' %}"></script>
</html>