<div id="navbar" class="navbar-collapse collapse">
    {% if not auth %}
        <form class="navbar-form navbar-right" id="sign_in_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <input type="submit" class="btn btn-success">Войти</input>

            <a class="btn btn-warning" href="{% url 'register' %}">Регистрация</a>
            <a class="btn btn-default" href="{% url 'cart' %}">Корзина (<span id="cart_count">{{ order.goods_count }}</span>)</a>
        </form>
    {% else %}
        <div class="navbar-form navbar-right">
            <span class="navbar-link h4" href="#">{{ user.username }}  </span>
            <a class="btn btn-default" href="{% url 'logout' %}?next=/">Выйти</a>
            <a class="btn btn-default" href="{% url 'cart' %}">Корзина (<span id="cart_count">{{ order.goods_count }}</span>)</a>
        </div>
    {% endif %}
</div>