{% extends 'base.html' %}
{% load thumbnail staticfiles %}

{% block content %}
    <h1>{{ category.title }}</h1>

    <div id="my-tag-list" class="tag-list" data-tag_url="{% url 'tags' %}"></div>
    <br>
    <div class="row show-grid" id="catalog" data-url="{% url 'category' slug=category.machine_id %}">
        {% for good in goods %}
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ good.url }}">
                        <img class="img-thumbnail" src="{{ good.img_url }}">
                    </a>

                    <div class="caption">
                        <a href="{{ good.url }}"><h3>{{ good.title }}</h3></a>

                        <p>{{ good.description }}</p>
                        <h4>Цена: {{ good.price }} рублей</h4>

                        <p><span class="btn btn-default add_to_cart {% if good.in_cart %}disabled{% endif %}" data-good_id="{{ good.id }}" role="button">Добавить в корзину</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="page-selection" data-count="{{ paginator.page_range|length }}" data-now={{ page_obj.number }}></div>
{% endblock %}