{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h4><a href="{{ good.category.get_absolute_url }}">{{ good.category.title }}</a> << {{ good.title }} </h4>
    <br>
    <div class="row show-grid" id="catalog" data-url="/category/category-0">
        <div class="col-md-6 col-xs-12">
            <div class="thumbnail">
                {% thumbnail good.image "550" as im %}
                    <img class="img-thumbnail" src="{{ im.url }}">
                {% empty %}
                    <img class="img-thumbnail" src="http://placehold.it/550x700">
                {% endthumbnail %}
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="caption">
                <h1>{{ good.title }}</h1>
                <h4>{{ good.description }}</h4>
                {% if not good.properties|length_is:'0' %}
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Свойство</th>
                            <th>Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prop in good.properties.all %}
                            <tr>
                                <td>{{ prop.title }}</td>
                                <td>{{ prop.value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                <p class="h4">Цена: 122 рублей</p>
                <span class="btn btn-default add_to_cart" data-good_id="{{ good.id }}" role="button">Добавить в корзину</span>
            </div>
        </div>
    </div>

{% endblock %}