{% extends 'base.html' %}

{% block content %}
    <h1>Добро пожаловать на главную страницу</h1>
    <br>
    <h3>Список категорий:</h3>
    <div class="row">
        <div class="list-group col-md-6 col-xs-12">
            {% for category in categories %}
                <a class="list-group-item list-group-item-{% if forloop.counter|divisibleby:"2" %}success{% else %}warning{% endif %}"
                   href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}